{namespace ec=Flowpack\EelCraft\Neos\ViewHelpers}
<tr>
	<th>FlowQuery Context Array</th>
	<td>
		<table class="neos-info-table">
			<tbody>
				<f:for each="{variable.context}" key="arrayKey" as="arrayValue">
					<tr>
						<th>Key: {arrayKey}</th>
					</tr>
					<td>
						<ec:variableInfo as="arrayElementInformation" variable="{arrayValue}">
							<f:render partial="VariableInformation" arguments="{variableInformation: arrayElementInformation, variable: arrayValue}" />
						</ec:variableInfo>
					</td>
				</f:for>
			</tbody>
		</table>
	</td>
</tr>

