{namespace ec=Flowpack\EelCraft\Neos\ViewHelpers}
<f:flashMessages as="flashMessages">
	<f:if condition="{flashMessages -> f:count()} > 0">
		<ul id="neos-notifications-inline">
			<f:for each="{flashMessages}" as="flashMessage">
				<li data-type="{flashMessage.severity -> f:format.case(mode: 'lower')}">{flashMessage}</li>
			</f:for>
		</ul>
	</f:if>
</f:flashMessages>

<div id="eelcraft-eelevaluator" class="neos-container-fluid">
	<f:form action="index">
		<fieldset>
			<div class="neos-control-group">
				<label class="neos-control-label">Node Path</label>
				<div class="neos-controls">
					<f:form.textfield name="node" value="{node.path}" style="width: 100%" />
				</div>
			</div>
		</fieldset>
		<fieldset>
			<f:form.submit value="Find Contexts" class="neos-button neos-button-primary" />
		</fieldset>
	</f:form>


	<f:if condition="{node}">
		<f:form action="lockContext">
			<f:form.hidden name="node" value="{node.path}" />
			<legend>Select Context to evaluate EEL Expressions with:</legend>
			<fieldset>
				<table class="neos-table">
					<thead>
					<tr>
						<th>ContextVariable</th>
						<th>Value</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{possibleContexts}" key="contextTypoScriptPath" as="context">
						<tr class="neos-folder">
							<td class="check" colspan="2">
								<label class="neos-radio neos-inline">
									<f:form.radio name="typoScriptPath" value="{contextTypoScriptPath}" />
									<span></span>
									{contextTypoScriptPath -> ec:shorten()}
								</label>
							</td>
							<td class="neos-priority1 neos-aRight">
								 <i class="fold-toggle icon-chevron-up icon-white" data-toggle="fold-{contextTypoScriptPath -> ec:md5()}"></i>
							</td>
						</tr>
						<f:for each="{context}" key="contextVariableName" as="contextVariable">
							<tr class="fold-{contextTypoScriptPath -> ec:md5()}" style="display: none;">
								<td style="vertical-align: top;">{contextVariableName}</td>
								<td>
									<ec:variableInfo variable="{contextVariable}">
										<f:render partial="VariableInformation" arguments="{variableInformation: variableInformation, variable: contextVariable}" />
									</ec:variableInfo>
								</td>
								<td></td>
							</tr>
						</f:for>
					</f:for>
					</tbody>
				</table>
			</fieldset>
			<fieldset>
				<f:form.submit value="Select Context" class="neos-button neos-button-success" />
			</fieldset>
		</f:form>
	</f:if>
</div>


<script>
	(function ($) {
		$('.fold-toggle').click(function () {
			$(this).toggleClass('icon-chevron-down icon-chevron-up');
			$('tr.' + $(this).data('toggle')).toggle();
		});
	})(jQuery);
</script>