{namespace ec=Flowpack\EelCraft\Neos\ViewHelpers}
<f:flashMessages as="flashMessages">
	<f:if condition="{flashMessages -> f:count()} > 0">
		<ul id="neos-notifications-inline">
			<f:for each="{flashMessages}" as="flashMessage">
				<li data-type="{flashMessage.severity -> f:format.case(mode: 'lower')}">{flashMessage}</li>
			</f:for>
		</ul>
	</f:if>
</f:flashMessages>

<style>
	#eelcraft-eelevaluator .Flow-Error-Debugger-VarDump-Floating {
		float: none;
		left: 0;
		border: 0px none;
	}
</style>

<div id="eelcraft-eelevaluator" class="neos-container-fluid">
	<f:form action="index">
		<fieldset>
			<div class="neos-control-group">
				<label class="neos-control-label">Node Path</label>

				<div class="neos-controls">
					<f:form.textfield name="node" value="{node.path}" style="width: 100%" />
				</div>
			</div>
			<div class="neos-control-group">
				<label class="neos-control-label">EEL Expression</label>

				<div class="neos-controls">
					<f:form.textfield name="eelExpression" value="{eelExpression}" style="width: 100%" />
				</div>
			</div>
		</fieldset>
		<fieldset>
			<f:form.submit value="Evaluate" class="neos-button neos-button-primary" />
		</fieldset>
	</f:form>

	<f:for each="{evaluationData}" as="evaluation" iteration="evaluationIteration">
		<div class="neos-row-fluid">
			<legend>Result {evaluationIteration.cycle}</legend>
			<p>
				<strong>{node.path} <br />
					rendered at TypoScript path: <br />
					{evaluation.arguments.typoScriptPath}
				</strong>
			</p>

			<table class="neos-table">
				<thead>
					<tr>
						<th>Your Expression applied here results in:</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<ec:variableInfo variable="{evaluation.evaluationResult}">
								<f:render partial="VariableInformation" arguments="{variableInformation: variableInformation, variable: evaluation.evaluationResult}" />
							</ec:variableInfo>
						</td>
					</tr>
				</tbody>
			</table>

			<h5>Context contained</h5>
			<table class="neos-table">
				<thead>
					<tr>
						<th>ContextVariable</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{evaluation.context}" key="contextVariableName" as="contextVariable">
					<tr>
						<td style="vertical-align: top;">{contextVariableName}</td>
						<td>
							<ec:variableInfo variable="{contextVariable}">
								<f:render partial="VariableInformation" arguments="{variableInformation: variableInformation, variable: contextVariable}" />
							</ec:variableInfo>
						</td>
					</tr>
					</f:for>
				</tbody>
			</table>
			<hr />

		</div>
	</f:for>
</div>